<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsy6OdI4E95MnMNMpoupchKFISc48-VPg</string>
	<key>CLIENT_ID</key>
	<string>260279207418-08p6phg0bm8ivmci49oh556kqicrpjrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260279207418-08p6phg0bm8ivmci49oh556kqicrpjrc</string>
	<key>GCM_SENDER_ID</key>
	<string>260279207418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byaht.ByahtColor</string>
	<key>PROJECT_ID</key>
	<string>byaht-glowb</string>
	<key>STORAGE_BUCKET</key>
	<string>byaht-glowb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260279207418:ios:6ed95c9746e94367529043</string>
</dict>
</plist>
